body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/009/331/289/non_2x/vtu-letter-logo-design-on-black-background-vtu-creative-initials-letter-logo-concept-vtu-letter-design-vector.jpg);
    background-size: 200px 200px;
 
}
h1{
    background-color: blue;
  
}
#name{

    margin-bottom: 10px;
  
}
#usn{
    margin-bottom: 10px;
   
}
#no{
    margin-bottom: 10px;
   
}